body h1 {
      color: red;
      font-size: 4em;
      background-color: blue;
    }

  p {
      color: blue
      font-size: 2em;
      background-color: red;

    }
  header
    {
        background-color: red;
        color: white;
        padding: 1em;
        overflow: hidden;
    }
    class "Gamehub-logo" ="C:\Users\I148574\Downloads\GameHub_Logo.png""{
          padding: 10em
          size: 1em
          :horizontal-align: center;
            :vertical-align: center;
            }
        }
        
